name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            os: ubuntu-24.04
          - ruby: 3.3
            os: ubuntu-22.04
          - ruby: 3.2
            os: macos-15
          - ruby: 3.1
            os: macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: sudo apt-get update && sudo apt-get install coinor-libcbc3.1
      - if: ${{ matrix.os == 'ubuntu-22.04' }}
        run: sudo apt-get update && sudo apt-get install coinor-libcbc3
      - if: ${{ startsWith(matrix.os, 'macos') }}
        run: brew install cbc
      - run: bundle exec rake test
